{% extends "base.html" %}

{% block body %}

<div class="ui message">
<form class="ui form">
<div class="two fields">
<div class="field">
    <label>Nom ou pseudo</label>
    <input type="text" placeholder="Votre nom">
      </div>
      <div class="field">
      <label>Adresse mail</label>
        <input type="text" placeholder="Votre email">
      </div>
     
    </div>
</form>

<div class="ui button"> <a href=  /InscriptionsController/inscription/> Valider l'inscription </a></div>

</div>
{% endblock %}